---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
export const prerender = true;
---

<Layout title="Welcome to Astro.", keywordsSEO="Herramienta para generar palabras claves">
	<br>
	<main style="width: 60%;">
		<h1 class="text-white-900">Bienvenidos a  <span class="text-gradient">OptiKeyWords</span></h1>
		<br>
		<p class="instructions" style="text-alig:center">
			Saca el M치ximo Provecho de Tu Contenido en L칤nea con el<br/>
			<strong >Generador de palabras claves</strong> para SEO mas optimizado 游
		</p>
		<h2 class="text-white-600">
			Optikeywords es la herramienta esencial para maximizar el rendimiento de tu contenido en l칤nea mediante la optimizaci칩n de palabras clave. Tambi칠n sugiere que la herramienta puede ayudar a los usuarios a lograr resultados 칩ptimos en sus estrategias de SEO y marketing de contenidos.
		</h2><br/>
		<div class="instructions">
			<h3>
				Con un enfoque directo a la utilidad efectiva, gracias a que te permite la Generaci칩n de Palabras Clave Precisas puedes
			</h3>
		</div>
		<ul role="list" class="link-card-grid">
			<Card
				title="An치lizar la Competencia"
				body="An치liza tu Competencia haciendo uso de las palabras claves generadas por optikeywords"
			/>
			<Card
				title="Optimizar el Contenido"
				body="Optimiza tu Contenido gracias a las palabras claves generadas por optikeywords"
			/>
			<!--Card
				href="/blog"
				title="Blog"
				body="Blog"
			/>
			<Card
				href="/generator"
				title="OptiKeyWords Generator"
				body="Generador de palabras claves para SEO"
			/-->
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 3;
	}
</style>
